@page "/Databeskyttelse"
@layout ArcPageNoSidebar
@inject NavigationManager Link

<h2>Databeskyttelse</h2>

<p>Arkivkonsulent indsamler ikke dine data eller personoplysninger ifm. brug af denne hjemmeside eller applikationer, desuagtet om disse downloades som programmer til din lokale maskine eller anvendes som webapplikationer i din browser. I begge tilfælde sker afviklingen af software på din lokale maskine, og der sker ingen overførsel af data til servere.</p>

<p>Du kan derfor trygt anvende Arkivkonsulents applikationer, men vær stadig opmærksom på, at applikationerne kan ændre de data, som du inputter i applikationerne, og du bør derfor altid anvende kopier af dine data, når du bruger applikationerne for at være sikker på, at dine originale datas integritet er beskyttet.</p>


@code {

}
