@page "/"
@layout ArcHome
@inject NavigationManager Link

<div class="arc-content">
    <div class="arc-content-subsection">Vælg applikation</div>
    <a href="" target="_blank"><div class="arc-box-small">archiveIndex</div></a>
    <a href=""><div class="arc-box-small">Regneark</div></a>
    <a href=""><div class="arc-box-small">Survey data</div></a>
    <p></p>
    <div class="arc-content-subsection">Vedrørende din brug</div>
    <a href=""><div class="arc-box-small">Servicevilkår</div></a>
    <a href=""><div class="arc-box-small">Databeskyttelse</div></a>
</div>

@code {

}
