@page "/Servicevilkaar"
@layout ArcPageNoSidebar
@inject NavigationManager Link

<h2>Servicevilkår</h2>

<p>Software stilles til rådighed iht. den licens, som er angivet for applikationen. Rådfør dig nærmere under den enkelte applikation for hvilken licens, der gælder.</p>

@code {

}
