@inherits LayoutComponentBase

<div class="arc-header">
  <div class="arc-logo-container">
    <a href="/">
      <img id="arc-logo" src="/wwwroot/graphics/arkivkonsulent-logo.svg">
    </a>
  </div>
  <div class="arc-title"><a href="/">Arkivkonsulent</a></div>
  <div class="arc-subtitle">Webapp</div>
  <div class="arc-navigation">Gå til: <a href="https://wiki.arkivkonsulent.dk"><strong>Wiki</strong></a> | <a href="https://arkivkonsulent.dk"><strong>Portal</strong></a></div>
</div>

@code {

}