@inherits LayoutComponentBase

<main>
    <div class="arc-fullpage">
        <ArcHeader></ArcHeader>
        <ArcTopMenu></ArcTopMenu>
        <div class="arc-page">
            <div class="arc-content">
                @Body
            </div>
        </div>
        <ArcFooter></ArcFooter>
    </div>
</main>

@code {

}
