@inherits LayoutComponentBase

<main>
    <div class="arc-fullpage">
        <ArcHeader></ArcHeader>
        <ArcMenu></ArcMenu>
        <div class="arc-page">
            @Body
        </div>
        <ArcFooter></ArcFooter>
    </div>
</main>

@code {

}
