@page "/Regneark/HomeRegneark"
@layout ArcPageNoSidebar
@inject NavigationManager Link

<h2>Arkivering af regneark</h2>

<div class="arc-content-subsection">Vælg funktion</div>
<button type="button" class="arc-box-small" @onclick="@LinkKonverterRegneark">Konverter regneark</button>
<button type="button" class="arc-box-small" @onclick="@LinkValiderRegneark">Valider regneark</button>

<p></p>

<div class="arc-content-subsection">Information</div>
<p>Digital arkivering af regneark kan enten udføres ved at lave et statisk billede af regnearket eller ved at bevare i et regnearksfilformat. Denne applikation tilbyder mulighed for at konvertere regneark til OpenDocument Format-standarden og Office Open XML-standarden, tjekke regnearkene for indhold der ikke er velegnet til arkivering (bevaring på lang sigt), samt validere om regnearkene lever op til kravene.</p>

<p>Du kan læse mere om standarden for arkivering, som benyttes <a href="https://github.com/openpreserve/sheets-preservation-spec/tree/v1.0.0-draft" target="_blank">her</a>.</p>
<p>Du kan læse mere om arkivering af regneark <a href="https://wiki.arkivkonsulent.dk/index.php/Regneark" target="_blank">her</a>.</p>

@code {
    public void LinkKonverterRegneark()
    {
        Link.NavigateTo("Regneark/KonverterRegneark");
    }
    public void LinkValiderRegneark()
    {
        Link.NavigateTo("Regneark/ValiderRegneark");
    }
}
